<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IronSpirits</title>

<link rel="stylesheets" href="../public/stylesheets/style.css">
    </head>
    <body>

        <nav>
                <ul>
<li>
    <a href="/">Home</a>
</li>

<li>
<a href="/about"> about</a>

</li>

<li>

    <a href="/contact">contact</a>
</li>
                </ul>

        </nav>



        <h1>About us</h1>
        <img src="http://localhost:3001/images/Helping-your-new-cat-or-kitten-settle-in-1.png"
        
        <p> ironborn e-commerce</p>
    </body>
    </html>