<h1> Our product list</h1>

{{#each products}}
<section class="product">
    <h2>{{this.title}}</h2>
        <h4>{{this.price}}€</h4>
    <a href="/products/{{this._id}}">More Details</a>
</section>

{{/each}}